/* stylelint-disable max-line-length */
@font-face {
font-family: fieldwork-geo-light;
font-style: normal;
font-weight: 300;
font-display: swap;
src: url('../fonts/fieldwork-geo-light.woff2') format('woff2');
}

@font-face {
font-family: Fieldwork-Geo-Demibold;
font-style: normal;
font-weight: 600;
font-display: swap;
src: url('../fonts/fieldwork-geo-demibold.woff2') format('woff2');
}

@font-face {
font-family: fieldwork-geo-light;
font-style: italic;
font-weight: 300;
font-display: swap;
src: url('../fonts/fieldwork-italic-light.woff2') format('woff2');
}
