/* Full screen overlay to block  */
#onetrust-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    display: none;
    z-index: 2147483645;
}

/* Banner Box */
#onetrust-banner {
    position: fixed;
    z-index: 2147483645;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #fff;
    max-height: 90%;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: 0 0 18px rgba(0, 0, 0, .2);
    width: 51vw !important;
    border-radius: 16px 16px 0 0 !important;
    padding: 32px;
    font-family: fieldwork-geo-light, fieldwork-geo-light-fallback, sans-serif !important;
}

#onetrust-banner h2 {
    font-size: 18px !important;
    font-style: normal !important;
    font-weight: 600 !important;
    line-height: 24px !important;
    margin-bottom: 8px !important;
    font-family: fieldwork-geo-light, fieldwork-geo-light-fallback, sans-serif !important;
}

#onetrust-banner p {
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 300 !important;
    line-height: 20px !important;
    letter-spacing: 0px !important;
    margin-bottom: 24px !important;
    font-family: fieldwork-geo-light, fieldwork-geo-light-fallback, sans-serif !important;
}

/* Buttons */
.ot-banner-buttons {
    margin-top: 12px;
    text-align: right;
}

.onetrust-btn {
    padding: 6px 24px 10px!important;
    border-radius: 32px !important;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    height: 40px !important;
    gap: 8px !important;
    line-height: 24px !important;
    font-family: fieldwork-geo-light, fieldwork-geo-light-fallback, sans-serif !important;
}

.onetrust-continue-btn {
    background: #0071BC !important;
    color: #fff;
}

.onetrust-continue-btn:hover {
    background: #003b5c !important;
}

.onetrust-continue-btn:focus {
    outline: 2px solid #000 !important;
    outline-offset: 1px !important;
}

.custom-privacy-label {
    font-weight: 600 !important;
}

/* Override OneTrust SDK injected styles - paragraphs */
#onetrust-banner-sdk .first-para,
#onetrust-banner-sdk .second-para {
  font-family: fieldwork-geo-light, fieldwork-geo-light-fallback, sans-serif !important;
}

/* H2 title – add the element to beat the SDK rule */
#onetrust-banner-sdk h2#onetrust-policy-title {
  font-family: fieldwork-geo-light, fieldwork-geo-light-fallback, sans-serif !important;
}

/* Banner (first banner) */
#onetrust-banner-sdk button#onetrust-pc-btn-handler,
#onetrust-banner-sdk button#onetrust-accept-btn-handler,
#onetrust-banner-sdk .ot-sdk-button {
  font-family: fieldwork-geo-light, fieldwork-geo-light-fallback, sans-serif !important;
  padding: 6px 24px 10px !important;
}

@media only screen and (min-width: 375px) and (max-width: 767.5px) {
    #onetrust-banner {
       width: 340px !important;
    }

    .onetrust-btn {
        width: 100%;
    }

}








