.section.columns-container {
  margin: 0;
}

.columns:not(.striped-rows) {
  padding: var(--spacing-l) 0;
}

.columns.shaded-rows {
  padding: 0;
}

.columns > div {
  display: flex;
  flex-direction: column;
  margin: 0 var(--spacing-xl);
}

.columns ul {
  margin-inline-start: 0;
  margin-block-start: 0;
  padding-inline-start: 24px;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

.columns.columns-2-cols > div > .columns-img-col img {
  border-radius: var(--border-radius-xl);
}

.columns.columns-3-cols > div > .columns-img-col img {
  border-radius: var(--border-radius-l);
  width: fit-content;
  margin: auto;
  border: 1px solid var(--link-color);
}

.columns.columns-2-cols > div p {
  font-size: var(--body-font-size-s);
}

.columns.columns-2-cols > div p:first-of-type {
  font-size: var(--body-font-size-m);
}

.columns.columns-3-cols > div > div h5:first-child {
  margin-top: 0;
}

.columns.columns-3-cols > div > div a.button.secondary {
  margin: var(--spacing-xs) 0;
}

.columns.striped-rows > div {
  position: relative;
  padding-top: var(--spacing-m);
}

.columns.shaded-rows > div {
  position: relative;
}

.columns > div .card-link a {
  width: 80%;
}

.columns.striped-rows > div > div > h5 > a {
  text-decoration: underline
}

.columns.shaded-rows > div::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100%;
  background-color: var(--shade-color);
  z-index: -1;
  transform: translateX(-50%);
  left: 50%;
}

.columns.striped-rows > div:nth-of-type(odd)::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100%;
  background-color: var(--shade-color);
  z-index: -1;
  transform: translateX(-50%);
  left: 50%;
}

.columns.striped-rows p.button-container a {
  margin: 0;
}

.columns.striped-rows p:not(.button-container) a {
  padding-left: 1.2rem;
}

.columns.shaded > div {
  align-items: stretch;
}

.columns.shaded > div > div {
  background-color: var(--shade-color);
  margin: var(--spacing-xl) var(--spacing-m);
  padding: 0 var(--spacing-l) var(--spacing-l);
}

.columns.striped-rows > div > div:last-child {
  margin-top: 0;
}

.columns .button-container a.secondary{
  margin: var(--spacing-xs) 0;
}

.columns > div .card-link {
  display: flex;
  justify-content: space-around;
  background-color: var(--shade-color);
  padding: var(--spacing-m);
  border: 1px solid var(--secondary-color);
  border-radius: var(--border-radius);
  align-items: center;
  margin: var(--spacing-l) 0;
}

.columns > div .card-link .icon {
  width: 10%;
  height: auto;
  display: flex;
  align-items: center;
}

.columns > div .card-link .icon img {
  width: 100%;
  height: 100%;
  max-width: 36px;
}

.columns .icon-container {
  display: flex;
  align-items: center;
}

.columns > div .icon-container .icon {
  width: 100px;
  height: fit-content;
  max-width: 100px;
  padding: 0 var(--spacing-s);
  flex: 1;
}

.columns > div .icon-container .icon img {
  width: 100%;
  height: 100%;
}

.columns .icon-container .icon-title {
  padding: 0 var(--spacing-s);
  flex: 4;
}

@media (width >= 600px) {
  .columns.columns-2-cols > div p {
    font-size: var(--body-font-size-m);
  }

  .columns.columns-2-cols > div p:first-of-type {
    font-size: var(--body-font-size-l);
  }
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }

  .columns > div > .flex-2 {
    flex: 2;
  }

  .columns > div > .flex-3 {
    flex: 3;
  }

  .columns > div > .flex-4 {
    flex: 4;
    margin-bottom: auto;
  }

  .columns > div > .flex-5 {
    flex: 5;
    margin-top: 32px;
  }

  .columns > div > .flex-6 {
    flex: 6;
  }

  .columns.striped-rows > div {
    align-items: flex-end;
    padding: var(--spacing-m) var(--spacing-s) var(--spacing-l);
  }

  .columns.striped-rows > div:has(> div:only-child) {
    padding: 0 var(--spacing-s);
  }

  .columns.striped-rows > div > div:last-child {
    margin-top: 20px;
    margin-bottom: auto;
  }

  .columns.columns-2-cols > div p {
    font-size: var(--body-font-size-m);
  }

  .columns.columns-2-cols > div p:first-of-type {
    font-size: var(--body-font-size-l);
  }

  .columns > div .card-link:first-child {
    margin-top: 0;
  }

  .columns > div .card-link:last-child {
    margin-bottom: 0;
  }
}
