.table-container h4 {
  margin: var(--spacing-l) 0;
}

.table {
  width: 100%;
  overflow-x: auto;
}

.table table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  font-size: var(--body-font-size-xs);
}

@media (width >= 600px) {
  .table table {
    font-size: var(--body-font-size-s);
  }
}

@media (width >= 900px) {
  .table table {
    font-size: var(--body-font-size-m);
  }
}

.table table thead tr {
  border-top: 2px solid var(--grey-color);
  border-bottom: 2px solid var(--grey-color);
  background-color: var(--dark-color);
  color: var(--background-color);
}

.table table tbody tr {
  border-bottom: 1px solid var(--grey-color);
}

.table table th {
  font-weight: var(--font-weight-bold);
  text-align: center;
  padding: var(--spacing-s);
}

.table table th:first-of-type {
  text-align: left;
}

.table table td {
  padding: var(--spacing-s);
  text-align: left;
  vertical-align: top;
}

.table table th p,
.table table td p {
  margin: 0;
}

.table table td p + p {
  margin-top: 0.25em;
}

/* no header variant */
.table.no-header table tbody tr {
  border-top: 1px solid var(--grey-color);
}

/* striped variant */
.table.striped tbody tr:nth-child(odd) {
  background-color: var(--light-color);
}

/* bordered variant */
.table.bordered table th,
.table.bordered table td {
  border: 1px solid var(--grey-color);
}

/* table equal columns variant */
.table.equalwidth table {
  width: 100%;
  table-layout: fixed;
}

/* Center checkmarks in equalwidth table */
.table.equalwidth table td {
  text-align: center;
  vertical-align: middle;
}

.table.equalwidth table td p{
  margin-top: 16px;
  margin-bottom: 16px;
}

.table.equalwidth table td:nth-child(2) {
  background-color: #f4f4f4;
}

.table.equalwidth table tbody tr {
  border-bottom: 1px solid #d8d8d8;
}

.table.equalwidth table td {
  border: none;
}

.table.equalwidth table tbody tr td{
  border-bottom: 1px solid #d8d8d8;
  border-top: 1px solid #d8d8d8;
}
