.hero-container .hero-wrapper {
  padding: 0 2rem;
}

.hero.block {
  max-width: 100%;
  margin-top: 24px;
}

.hero.block > div {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding: 0 1rem;
}

.hero.block > div > div:first-of-type {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero.block h1 {
  margin: 0;
  font-size: var(--heading-font-size-l);
}

.hero.block h2 {
  margin: 0;
  font-size: var(--heading-font-size-m);
}

.hero.block h3 {
  margin: 0;
  font-size: var(--heading-font-size-s);
}

.hero.block picture {
  width: 50%;
}

.hero.block img {
  height: auto;
  object-fit: cover;
}

.hero.block .group-logo img {
  max-height: 150px;
}

@media (width >= 600px) {
  .hero.block h1 {
    font-size: var(--heading-font-size-xl);
  }

  .hero.block h2 {
    font-size: var(--heading-font-size-l);
  }

  .hero.block h3 {
    font-size: var(--heading-font-size-m);
  }

  .hero.block > div {
    grid-template-columns: 1fr 1fr;
  }
}

@media (width >= 900px) {
  .hero.block h1 {
    font-size: var(--heading-font-size-xxl);
  }

  .hero.block h2 {
    font-size: var(--heading-font-size-xl);
  }

  .hero.block h3 {
    font-size: var(--heading-font-size-m);
  }

  .hero.block > div > div:last-of-type {
    margin-left: auto;
  }
}
