.hero-container .hero-wrapper {
  max-width: 1200px;
  padding: 0;
}

.hero.block {
  max-width: 100%;
}

.hero.block > div > div {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
}

.hero.block h1 {
  width: 50%;
  margin: 0;
  font-size: var(--heading-font-size-m);
}

.hero.block picture {
  width: 50%;
}

.hero.block img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media (width >= 600px) {
  .hero.block h1 {
    font-size: var(--heading-font-size-xl);
  }
}

@media (width >= 900px) {
  .hero.block h1 {
    font-size: var(--heading-font-size-xxl);
  }
}
