/* Wrapper to arrange the slider and controls */
.slider-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers the arrows below */
  width: 100%;
}

.slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--light-color);
  width: 100%;
  height: auto;
  position: relative;
}

.slider > div {
  border: 1px solid var(--dark-color);
  padding: var(--spacing-m);
  width: auto;
  min-height: 250px;
  display: none;
}

.slider > div:first-of-type {
  display: block;
}

.slider > div > a {
  text-decoration: none;
  color: var(--body-font-color);
}

.slider > div:hover {
 color: var(--link-color);
}

/* New styles for arrows below the slider */
.slider > .slider-controls {
  display: flex;
  gap: var(--spacing-s);
  margin-top: var(--spacing-m);
  position: absolute;
  bottom: 0;
  right: 8px;
}

.slider .slider-controls .slider-arrow {
  padding: var(--spacing-s);
  cursor: pointer;
  font-size: 1.5rem;
}
