.fragment-wrapper:has(.full-width) {
  padding: 0;
  margin: 0;
}

.fragment-container.full-width .fragment-wrapper {
  max-width: fit-content;
}

.fragment-wrapper:has(.full-width) .full-width {
  width: 100dvw;
}

.fragment-wrapper div:not(.full-width) {
  max-width: 1200px;
  margin: 0 auto;
}

.fragment-wrapper div.section:not(.full-width) {
  margin: 0 var(--spacing-m);
}

.fragment-wrapper .shaded {
  background-color: var(--shade-color);
  padding: var(--spacing-m);
  margin-bottom: 12px;
  min-width: 250px;
}

.fragment-wrapper .shadow-box {
  box-shadow: 0 0 10px rgba(0 0 0 / 10%);
  padding: var(--spacing-m);
  margin-bottom: 12px;
  min-width: 250px;
}

.fragment-wrapper .border {
  border-radius: var(--border-radius-l);
  border: 1px solid currentcolor;
  padding: var(--spacing-l);
  width: 75%;
  margin: 0 auto;
}

.fragment-wrapper .square-button .button-container {
  text-align: center;
}

.fragment-wrapper .square-button .button-container a {
  color: var(--body-font-color);
  font-size: var(--heading-font-size-m);
  font-weight: var(--font-weight-medium);
  background-color: var(--background-color);
}

.fragment-wrapper .square-button .button-container a:hover {
  color: var(--link-color);
  background-color: #f1eeee;
}

.fragment-wrapper .indent {
  padding: 0 10%;
}

.fragment-wrapper .indent .default-content-wrapper {
  padding-left: var(--spacing-m);
}

.fragment-wrapper .indent p {
  font-size: var(--body-font-size-m);
  margin-bottom: var(--spacing-m);
}

.fragment-wrapper .indent p:has(strong) {
  font-size: var(--body-font-size-l);
}

@media (width >= 900px) {
  .fragment-wrapper .two-col {
    display: flex;
    flex-direction: row-reverse;
  }

  .fragment-wrapper .two-col > div {
    padding-left: var(--spacing-m);
    padding-right: var(--spacing-m);
    padding-bottom: var(--spacing-l);
  }

  .fragment-wrapper > .two-col > div:first-child {
    width: 66.667%;
  }

  .fragment-wrapper > .two-col > div:nth-child(2) {
    width: 33.333%;
  }

  .fragment-wrapper div.section:not(.full-width) {
    margin: 0 auto;
  }

  .fragment-wrapper .indent .default-content-wrapper {
    padding-left: var(--spacing-xxl);
  }
}

@media (width >= 900px) {
  .fragment-wrapper:has(.three-col) {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-m);
  }

  .fragment-wrapper > .three-col {
    width: 40%;
  }

  .fragment-wrapper > .three-col:nth-child(2) {
    width: 20%;
  }
}
