.banner-container > div.banner-wrapper {
  max-width: unset!important;
  border-bottom: 1px solid #ededed;
  text-align: center;
  padding: 0;
}

.banner.shaded {
  background-color: var(--shade-color);
}

.banner.shaded p {
  padding: var(--spacing-m) 0;
}

.banner.shaded h2,
.banner.shaded h3,
.banner.shaded h4,
.banner.shaded h5,
.banner.shaded h6 {
  margin: 0;
  padding: var(--spacing-xxl) 0;
}

.banner.block h5 {
  margin-top: var(--spacing-s);
  margin-bottom: var(--spacing-xs);
  font-size: var(--body-font-size-l);
  font-weight: 700;
}

.banner.block p {
  margin-top: var(--spacing-xs);
  margin-bottom: var(--spacing-xs);
  font-size: var(--body-font-size-s);
}