.plan-updates .default-content-wrapper {
    text-align: center;
}

.list.bsc-links {
    background-color: var(--shade-color);
    border-radius: var(--border-radius-l);
    border: 1px solid #1f688c;
    margin-bottom: var(--spacing-xxl);
}

.list.bsc-links ul {
    list-style: none;
    padding-inline-start: 0;
}

.list.bsc-links > div > div > ul > li {
    position: relative;
    padding: var(--spacing-l) var(--spacing-l) 0;
}

.list.bsc-links ul:nth-child(2) {
    display: flex;
    justify-content: space-between;
}

.list.bsc-links ul:nth-child(2) .icon{
    width: 20px;
}

.list.bsc-links > div > div > ul > li:not(:first-child) {
    margin-top: var(--spacing-l);
    border-bottom: 1px solid #1f688c;
}

.list.bsc-links > div > div > ul > li:hover {
    color: var(--link-color);
}

.list.bsc-links ul:nth-child(2) li:nth-child(2){
    margin-top: -1rem;
}

.list.bsc-links > div:not(:last-child) {
    border-bottom: 1px solid #1f688c;
}

.list.bsc-links > div > div > ul > li > a {
    font-weight: var(--font-weight-bold);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    color: var(--text-color);
    padding-left: var(--spacing-l)
}

.list.bsc-links > div > div > ul > li > a:hover {
    text-decoration: none;
    color: var(--link-color);
}