.tabs-container > .default-content-wrapper {
  margin: 0 auto;
  text-align: center;
}

.tabs .tabs-list {
  display: flex;
  font-size: var(--body-font-size-xs);
  overflow-x: auto;
  border-bottom: 2px solid var(--grey-color);
  justify-content: start;
  margin: 24px;
}

@media (width >= 600px) {
  .tabs .tabs-list {
    font-size: var(--body-font-size-s);
  }
}

@media (width >= 900px) {
  .tabs .tabs-list {
    font-size: var(--body-font-size-m);
  }
}

.tabs .tabs-list button {
  flex: 0 0 max-content;
  margin: 0;
  border-radius: 0;
  padding: 24px 32px;
  background-color: var(--background-color);
  color: var(--dallas-color);
  font-weight: 300;
  line-height: 24px;
  text-align: initial;
  text-overflow: unset;
  overflow: unset;
  white-space: unset;
  transition: background-color 0.2s;

  /* max-width: 300px; */
}

.tabs .tabs-list button p {
  margin: 0;
}

.tabs .tabs-list button[aria-selected='true'] {
  border-bottom: 4px solid var(--boulder-color);
  background-color: var(--background-color);
  cursor: initial;
  padding: 24px 32px 23px;
  font-weight: var(--font-weight-bold);
}

.tabs .tabs-panel {
  margin-top: -1px;
  padding: 24px;
  overflow: auto;
}

.tabs .tabs-panel[aria-hidden='true'] {
  display: none;
}

.tabs .tabs-panel > div > h5 {
  text-align: center;
}

.tabs .tabs-panel ul {
  background-color: var(--shade-color);
  border-radius: var(--border-radius-l);
  border: 1px solid var(--secondary-color);
  margin-bottom: var(--spacing-xxl);
  list-style: none;
  padding-inline-start: 0;
}

.tabs .tabs-panel ul li {
  position: relative;
  padding: var(--spacing-l) var(--spacing-l);
  cursor: pointer;
}

.tabs .tabs-panel ul > li:not(:last-child) {
  border-bottom: 1px solid var(--secondary-color);
}

.tabs .tabs-panel ul li:hover a {
  color: var(--link-color);
}
